html{
  font-family: "Dosis",sans-serif;
  background: url(../image/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
}

#logo{
  width: 90px;
}

#menu {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  list-style: none;
}

.menu-button {
  opacity: 0;
  z-index: -1;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
}

.char{
  z-index: -1;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -80px;
  border-radius: 50%;
}

.item{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -43px;
  border-radius: 50%;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
  opacity: 1;
  z-index: 1;
}

.menu-item {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(170, 227, 255);
  margin: -60px 0 0 -60px;
  border-radius: 50%;
  transition: 300ms;
  z-index: -2;
}

.menu-item:hover{
  background: rgb(72, 194, 255);
}

.menu-item a {
  color: #fff;
  position: relative;
  top: 30%;
  left: 0;
  text-decoration: none;
}

#menu:target>.menu-item:nth-child(5) {
  transform: rotate(45deg) translateY(-155px);
  transition-delay: 0.1s;
}

#menu:target>.menu-item:nth-child(3) {
  transform: rotate(0deg) translateY(-155px);
  transition-delay: 0.2s;
}

#menu:target>.menu-item:nth-child(4) {
  transform: rotate(-45deg) translateY(-155px);
  transition-delay: 0.3s;
}